.wrapper{
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "header header header" "aside slider slider" "aside content content" "footer footer footer";
  grid-template-columns: 300px 300px 300px
}

.box{
  background-color: white;
  background-color: green;
  padding: 0px;
  border: 2px solid black;
  line-height: 140px;
  text-align: center;
  font-size: 30px;
  font-weight: bold
}

.header{grid-area: header;}
.slider{grid-area: slider;}
.aside{grid-area: aside;}
.content{grid-area: content;}
.footer{grid-area: footer;}