body{
  background-color: yellow;
  font-size: 28px;
  font-weight: 900;}
@keyframes around{
  0%  { left: 0; top: 0;}
  25% { left: 240px; top: 0;}
  50% { left: 240px; top: 140px;}
  75% { left: 0; top: 140px;}
  100%{ left: 0; top: 0;}}
.button{  
  border: 2px solid black;
  display: inline-block;
  animation: around 4s linear infinite;
  padding: 8px;
  margin: 28px;
transition: 3s;}
.button:hover{
  background-color: black;
  color: yellow;
transition: 3s;}