body {
  margin: 0 auto;  
}
.app {
  display: grid;
  grid-gap: 20px; 
  grid-template-columns: repeat(auto-fit, 150px);
  background-color: yellow;
  padding: 20px;
}
.box {
  background-color: blue;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}